# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy HTML app to Azure Web App - cvmkoussama

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Zip artifact for deployment
        run: zip -r release.zip index.html style.css web.config staticwebapp.config.json

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: html-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: html-app

      - name: Unzip artifact for deployment
        run: unzip release.zip
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_783B58025F6B4D7AB32F33400EFE98AE }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_28A20CDB3E9F49228E8CA452353E0A3C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0813BEF3CAE3485D8B634BE2A6F7FC14 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'cvmkoussama'
          slot-name: 'Production'
          package: .
